parameters:
    level: 5

    paths:
        - public/index.php
        - app/controller
        - app/models
        - app/routes
        - app/views
        - public/_assets/includes
        - public/_assets/utils

    excludePaths:
        - temp/*
